
.About {
  font-family: 'Ubuntu', sans-serif;
  font-size: larger;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 5%;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
   -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
       animation: fadein 2s;
}

.About-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .About-logo {
    animation: About-logo-spin infinite 20s linear;
  }
}

.About-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.About-link {
  color: #61dafb;
}

@keyframes About-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.About-Me-Content-Container{
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
}

.aboutme-content-container{
  width: 50%;
  padding-bottom: 10%;
  /* border: 1px solid black; */
}

.aboutme-content-container p{
  padding-top: 2%;
  width: 75%;
  display:block;
  margin: auto;
  text-indent: 50px
}

.aboutme-content-container b, hr{
  width: 20%;
  display: block;
  margin: auto;
  text-align: center;
  color: black;
}

.aboutme-content-container table{
  width: 75%;
  display: block;
  margin: auto;

  /* border: 1px solid black; */
}

.aboutme-content-container table tr td{
  font-size: 16px;
}


.img-container-aboutme{
  width: 50%;
  /* border: 1px solid black; */
}

.img-container-aboutme img{
  width: 20%;
  height: 50%;
  border-radius: 15px;
  display:block;
  position:absolute;
}

.img-container-aboutme.right img{
  margin-left: 5%;
}

.img-container-aboutme.left img{
  text-align: right;
  margin-left: 15%;
  vertical-align: middle;
}

.experiences-tabs-container{
  width: 75%;
  margin: auto;
}

.experiences-tabs-container Button{
  margin-right: 3%;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}




