
.About {
  font-family: 'Ubuntu', sans-serif;
  font-size: larger;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 5%;
}

.About-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .About-logo {
    animation: About-logo-spin infinite 20s linear;
  }
}

.About-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.About-link {
  color: #61dafb;
}

@keyframes About-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.About-Me-Content-Container{
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
}

.aboutme-content-container{
  width: 50%;
  /* border: 1px solid black; */
}

.aboutme-content-container p{
  padding-top: 2%;
  width: 75%;
  display:block;
  margin: auto;
}

.aboutme-content-container b, hr{
  width: 20%;
  display: block;
  margin: auto;
  text-align: center;
  color: black;
}


.img-container-aboutme{
  width: 50%;
  /* border: 1px solid black; */
}

.img-container-aboutme img{
  width: 55%;
  border-radius: 15px;
  display:block;
  margin: 40%, 15%, 15%;
}

/* .carrousel-container{
  background-color: #979797;
}

.carrousel-container{
  margin: 0 auto;
  padding-top: 2%;
  width: 95%;
  border-radius: 15px;
} */





