.Portfolio{
    font-family: 'Ubuntu', sans-serif;
    font-size: larger;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 5%;
}

.portfolio-header{
    text-align: center;
    width: 100%;
}

.divider{
    background-color: black;
    color: black;
    width: 100%;
}

.data-analysis-header{
    text-align: center;
    width: 100%;
}

.CardsContainer{
    border-style: solid;
    border-width: thin;
    border-color: lightgray;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: space-between;
    grid-gap: 10px;
    justify-items: center;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;
}

.portfolioCard{
    padding-top: 8%;
    padding-bottom: 8%;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}